.transactions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transactions {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    padding: 15px 0px;
    border-radius: 10px;
    width: 90%;
    margin: 10px 0px;
}

.category {
    padding: 15px 0px 15px 40px;
}

.amount {
    padding-top: 5px;
    position: absolute;
    right: 40px;
}

.vendor-and-date {
    position: absolute;
    left: 40px;
}

.vendor {
    margin-bottom: 5px;
}